/* inclure les polices */

@font-face {
    font-family: Amatic;
    src: url(../../../police/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: Itim;
    src: url(../../../police/Itim-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../../../police/Lato-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../../police/Roboto-Regular.ttf);
}


/* pour les liens */

@media (min-width : 1016px){
    a:hover
    {
        font-weight: bold;
    }
    a:visited
    {
        text-decoration: none;

    }
    a:active
    {
        color:red;
    }
    a
    {
        text-decoration: none;
    }


    /* réitnitialiser la marge pas défaut */


    body /*rénitialiser les marges*/
    {
        margin: 0 auto;
        display: flex;
        align-content:space-around;
        flex-direction: column;

    }

    /* On s'occupe de la page qui est toute en haut */

    #menu_telephone /*enlever le menu pour le telephone*/
    {
        display: none;
    }
    #en_tete_telephone /*mettre les icones aligné*/
    {
        display:flex;
        flex-direction:row;
        align-items:center;
    }
    header /*faire le dégradé et écarté les différents éléments*/
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to right, #62bec2 0%, rgb(93,159,155) 100%);
    }

    nav /*écarté les différents éléments*/
    {
        display:flex;
        justify-content:flex-end;
        align-items: center;
    }
    #menu_ordinateur /*mettre les éléments de la liste en mode horizontale*/
    {
        display:flex;
        justify-content:flex-end;
    }
    header img /*définir la taille des images et les marges*/
    {
        height:4em;
        margin:0.5em;
    }
    #text_discord /*éviter que le texte soit trop coller à gauche*/
    {
        margin-right: 0.5em;
    }
    .zebrus /*mettre le logo plus grand*/
    {
        height:6em;
    }
    header li /*enlever les puces de la liste à puce*/
    {
        list-style-type: none;
    }
    header #menu_ordinateur a /*centrer le texte*/
    {
        display: flex;
        align-items:center;
    }
    #menu_image /*uniquement dans la version téléphone*/
    {
        display:none;
    }
    #menu_checkbox /*uniquement dans la version téléphone*/
    {
        display:none;
    }
    header h2 /*titre du site*/
    {
        font-family: "Roboto";
        color:white;
        font-size: 2em;
    }
    header a /*titre du menu*/
    {
        color:black;
        font-size: 1em;
    }

    /*titre*/

    h1
    {
        display:flex;
        justify-content: center;
        color:#fab400;
        font-family: "Amatic";
        margin:0.5em;
        font-size: 3em;
        text-decoration: underline;
    }

    /*les chapitres*/

    .chapitres li
    {
        display: flex;
        flex-direction: row;
        border-width: 0.25em;
        border-style: solid;
        border-color:rgb(105, 105, 105);
        border-radius: 2em;
        margin: 1em;
    }
    .chapitres li:hover
    {
        background-image: url(../../index-image/croix.png);
        background-repeat: repeat;
    }
    .image
    {
        height:7em;
        margin:1em;
    }
    h3
    {
        color: #345e7e;
        font-size: xx-large;
    }
    .description
    {
        font-size: large;
        color:black;
    }
    .texte
    {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
    }
    

    /* pied de page */
    footer /*gérer la couleur*/
    {
        background-color: #62bec2;
    }
    footer /*mettre en couleur*/
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .titre_footer /*mettre les titres plus grand*/
    {
        font-size: x-large;
        text-decoration:underline;
    }
    footer a,p,div /*gérer les marges*/
    {
        margin-top:1em;
        margin-bottom: 1em;
    }
    footer a /*mettre les liens en italique*/
    {
        font-style: italic;
        color:black;
    }
}

@media (max-width : 1015px){
    a:hover
    {
        font-weight: bold;
    }
    a:visited
    {
        text-decoration: none;

    }
    a:active
    {
        color:red;
    }
    a
    {
        text-decoration: none;
    }


    /* réitnitialiser la marge pas défaut*/


    body /*reseat tout le body*/
    {
        margin: 0 auto;
        display: flex;
        align-content:space-around;
        flex-direction: column;

    }



    /* On s'occupe de la page qui est toute en haut */

    #menu_telephone /*on est sur pc donc pas la peine d'un deuxième menu*/
    {
        display: none;
    }
    #en_tete_telephone /*mettre les qqs icones bien aligné*/
    {
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    header /*faire le dégradé et écarté les différents éléments*/
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to right, #62bec2 0%, rgb(93,159,155) 100%);
    }

    nav /*écarté les différents éléments*/
    {
        display:flex;
        justify-content:flex-end;
        align-items: center;
    }
    #menu_ordinateur /*mettre les éléments de la liste en mode horizontale*/
    {
        display:flex;
        justify-content:flex-end;
    }
    header img /*définir la taille des images et les marges*/
    {
        height:4em;
        margin:0.5em;
    }
    .zebrus /*mettre le logo plus grand*/
    {
        height:6em;
    }
    #text_discord /*éviter que le texte soit trop coller à gauche*/
    {
        margin-right: 0.5em;
    }
    header li /*enlever les puces de la liste à puce*/
    {
        list-style-type: none;
    }
    header #menu_ordinateur a /*centrer le texte*/
    {
        display: flex;
        align-items:center;
    }
    #menu_image /*uniquement dans la version téléphone*/
    {
        display:none;
    }
    #menu_checkbox /*uniquement dans la version téléphone*/
    {
        display:none;
    }
    header h2 /*titre du site*/
    {
        font-family: "Roboto";
        color:white;
        font-size: 1.5em;
    }
    header a /*titre du menu*/
    {
        color:black;
        font-size: 1em;
    }

    /*titre*/

    h1
    {
        display:flex;
        justify-content: center;
        color:#fab400;
        font-family: "Amatic";
        margin:0.5em;
        font-size: 3em;
        text-decoration: underline;
    }

    /*les chapitres*/

    .chapitres li
    {
        display: flex;
        flex-direction: row;
        border-width: 0.25em;
        border-style: solid;
        border-color:rgb(105, 105, 105);
        border-radius: 2em;
        margin: 1em;
    }
    .chapitres li:hover
    {
        background-image: url(../../index-image/croix.png);
        background-repeat: repeat;
    }
    .image
    {
        height:7em;
        margin:2em;
    }
    h3
    {
        color: #345e7e;
        font-size: xx-large;
    }
    .description
    {
        font-size: large;
        color:black;
    }
    .texte
    {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
    }
    

    /* pied de page */
    footer /*gérer la couleur*/
    {
        background-color: #62bec2;
    }
    footer /*mettre en couleur*/
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .titre_footer /*mettre les titres plus grand*/
    {
        font-size: x-large;
        text-decoration:underline;
    }
    footer a,p,div /*gérer les marges*/
    {
        margin-top:1em;
        margin-bottom: 1em;
    }
    footer a /*mettre les liens en italique*/
    {
        font-style: italic;
        color:black;
    }
}
